* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --bg-color: hsl(0, 0%, 100%);
    --bg-pattern: hsl(225, 100%, 98%);
    --card-bg: hsl(227, 47%, 96%);
    --text-color: hsl(228, 12%, 44%);
    --text-color-dark: hsl(230, 17%, 14%);
}

[data-theme="dark"] {
    --bg-color: hsl(230, 17%, 14%);
    --bg-pattern: hsl(232, 19%, 15%);
    --card-bg: hsl(228, 28%, 20%);
    --text-color: hsl(228, 34%, 66%);
    --text-color-dark: hsl(0, 0%, 100%);
}


body {
    height: 100vh;
    width: 100%;
    background: linear-gradient(to bottom, var(--bg-pattern) 35%, var(--bg-color) 0%);
    font-family: 'Inter', sans-serif;
    .app-ctr {
        width: 80%;
        height: 100%;
        overflow: auto;
        margin: 0 auto;
        padding: 50px 0;
        .app-header {
            display: flex;
            justify-content: space-between;
            .description {
                .app-name {
                    font-size: 26px;
                    color: var(--text-color-dark);
                    font-weight: 700;
                }
                .count {
                    margin-top: 5px;
                    font-size: 14px;
                    color: var(--text-color);
                }
            }
        }
        .toggle-ctr {
            font-size: 14px;
            font-weight: 700;
            color: var(--text-color);
            .switch {
                position: relative;
                display: inline-block;
                margin-left: 10px;
                width: 40px;
                height: 21px;
                input {
                    opacity: 0;
                    width: 0;
                    height: 0;
                }
                .slider {
                    position: absolute;
                    cursor: pointer;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
                    -webkit-transition: .4s;
                    transition: .4s;
                    border-radius: 21px;
                }
                .slider:before {
                    position: absolute;
                    content: "";
                    height: 15px;
                    width: 15px;
                    left: 3px;
                    bottom: 3px;
                    background-color: var(--bg-pattern);
                    -webkit-transition: .4s;
                    transition: .4s;
                    border-radius: 50%;
                }
                input:checked + .slider:before {
                    -webkit-transform: translateX(19px);
                    -ms-transform: translateX(19px);
                    transform: translateX(19px);
                }
            }
        }
    }
}


