:root {
  --white: #fff;
  --cyan: hsl(180, 66%, 49%);
  --dark-violet: hsl(257, 27%, 26%);
  --red: hsl(0, 87%, 67%);
  --gray: hsl(247, 5%, 58%);
  --grayish-violet: hsl(257, 7%, 63%);
  --dark-blue: hsl(255, 11%, 22%);
  --dark-violet: hsl(260, 8%, 14%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  width: 100%;
  header {
    padding: 50px 0;
    width: 80%;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    margin: 0 auto;

    .header-left,
    .header-right {
      display: flex;
      align-items: center;

      .logo {
        width: 121px;
        height: 33px;
        margin-right: 20px;
        background: url("/assets/logo.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        cursor: pointer;
      }
      .option {
        margin: 0 20px;
        color: var(--gray);
        cursor: pointer;
        font-size: 14px;
        &:hover {
          color: var(--dark-violet);
        }
      }

      .signup-btn {
        margin-left: 20px;
        background: var(--cyan);
        color: var(--white);
        border-radius: 40px;
        font-size: 14px;
        padding: 10px 30px;
        cursor: pointer;
        &:hover {
            opacity: 0.7;
        }
      }
    }
  }
  section {
    .page-desc{
      display: flex;
      width: 90%;
      margin-left: 10%;
      .text-ctr {
        width: 45%;
        margin-right: 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;;
        .text-header {
          font-size: 50px;
          font-weight: 700;
          color: var(--dark-violet);
          line-height: 1.3;
        }
        .text-desc {
          font-size: 18px;
          font-weight: 500;
          color: var(--gray);
        }
        .get-started-btn {
          background: var(--cyan);
          color: var(--white);
          width: max-content;
          margin-top: 35px;
          padding: 15px 45px;
          border-radius: 45px;
          font-weight: 500;
          cursor: pointer;
          &:hover {
            opacity: 0.7;
          }
        }
      }
      .working-img {
        width: 50%;
      }
    }
  }
}
